 body{
    background-color: #eeedec;
    letter-spacing: .2  rem;
    font-size: .8rem;
 }
 .container{
    max-width: 400px;
 }
 .icon{
   position: relative;
   top : -50px ;
   bottom: -50px;
   width: 100px;
   border-radius: 50%;
 }